@import 'base';
@import '~normalize.css/normalize';

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
  font-size: 62.5%
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 200;
  font-size: 1.5rem;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  letter-spacing: 0.09rem;
  background: #efefef;

  @media only screen and (min-device-width: 768px) {
    font-size: 1.8rem;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
}

a {
  color: black
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#root {
  background-color: white;
  width: 100%;
  margin: 0 auto;
}

.portfolio {
	height: 100%;
	width: 100%;
	display: table;
}