@import 'base';
@import '~normalize.css/normalize';

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
  font-size: 62.5%
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 200;
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  letter-spacing: 0.09rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.portfolio {
	height: 100%;
	width: 100vw;
	display: table;
}