.focused-works-container {
  height: 85%;
  position: absolute;
  width: 100%;
  padding-top: 5vh;
}

.focused-works-outer {
  height: 94%;
  display: table-row;
  position: absolute;
  padding-top: 5vh;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  transition: all 0.2s ease 0s;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
  opacity: 1;
  overflow-x: scroll;
  overflow-y: hidden;


  &::-webkit-scrollbar {
    display: none;
  }

  @media only screen and (min-device-width: 320px) and (orientation: landscape) {
  }

  @media only screen and (min-device-width: 768px) {
  }

  @media only screen and (min-device-width: 768px) and (orientation: landscape) {
  }

  @media only screen and (min-device-width: 960px) {
    overflow-x: hidden;
  }

  &.focused-works-outer--active {
    opacity: 1;
  }
}

.focused-works-inner {
  width: 10000vw;
  height: 100%;
  position: absolute;
  top: 0;
  transition: all .2s ease 0s;
  padding-top: 5vh;

  @media only screen and (min-device-width: 320px) and (orientation: landscape) {
  }

  @media only screen and (min-device-width: 768px) {
  }

  @media only screen and (min-device-width: 768px) and (orientation: landscape) {
  }
}
