.works-outer {
  display: table-row;
  height: 15%;
  position: absolute;
  bottom: 0;
  left: 0;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100vw;
  z-index: 2;

  @media only screen and (min-device-width: 320px) and (orientation: landscape) {
  }

  @media only screen and (min-device-width: 768px) {
  }

  @media only screen and (min-device-width: 768px) and (orientation: landscape) {
  }
}

.works-thumbnails {
  position: absolute;
  width: 100%;
  height: 100%;
}

.works-inner {
    width: 400vw;
    height: 100%;
    position: absolute;
    bottom: 0;
    transition: all 0.2s ease 0s;
}
